body {
  background-color:#ffffff;
}

table {
  margin: auto;
  border-collapse: collapse;
}
table,
th,
td {
    border: 1px solid black;
    text-align: center;
}
.light-cell {
  background: #cfdbeb;
  width: 70px;
  height: 70px;
}

.dark-cell {
  background: #8ba2c0;
  width: 70px;
  height: 70px;
}

.selected {
  background-color: #414040;
}
.possible-move {
  background-color: #ea983a;
}
.enemy {
  background-color: #e90f0f;
}