body {
    background-color:#ffffff;
}
table {
    border-collapse: collapse;
    margin: auto;
    font-size: 35px;
}
td {
    width: 60px;
    height: 60px;
}
h1,
h2 {
	text-align: center;
	font-family: arial;
}
table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

tr:nth-of-type(even) td:nth-of-type(odd),
tr:nth-of-type(odd) td:nth-of-type(even) {
    background-color: #D6D5D7;
}

tr:nth-of-type(even) td:nth-of-type(even),
tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color: white;
}